{% extends 'main/base.html' %}
{% block content %}
<div id"container-offre">
    <table id="offre">
        <tr>
            <td>Nom de l'offre:</td>
            <td>{{ offres.nom }}</td>
        </tr>
        <tr>
            <td>Date de début:</td>
            <td>{{ offres.datedebut }}</td>
        </tr>
        <tr>
            <td>Type de l'offre:</td>
            <td>{{ offres.typeoffre }}</td>
        </tr>
        <tr>
            <td>Date de fin:</td>
            <td>{{ offres.datefin }}</td>
        </tr>
        <tr>
            <td>Descriptif:</td>
            <td>{{ offres.description }}</td>
        </tr>
        <tr>
            <td>Proposé par:</td>
            <td>{{ offres.auteur }}</td>
        </tr>
       
    </table>    
</div>

{% endblock content %}