{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div id="ban">
    <img  src="{% static '/images/panno3.jpg' %}"/>
</div>

<div id="about_site">
<h1>Bienvenue sur Reborn</h1>

<p> Si vous êtes a la recherche d'un stage ce site est donc fait pour vous.</p>

<h3>Vous êtes a la recherche d'un stage ?</h3>
<p>En tant qu'étudiant vous trouverez la recherche de stage simplifié grâce a Reborn vous pourrez donc voir 
    toute les offres proposées par les entreprises peut importe le domaine authentifiez vous pour avoir accès a tous nos services

</p>

<h3>Vous êtes a la recherche d'un stagiaire ?</h3>
<p>Vous faites partie d'une entreprise et vous cherchez activement un stagiaire ? Vous pourrez donc utiliser la plateforme Reborn dans le 
    but de poster vos offres de stage. Vous pourrez ajoutez des offres peut importe le domaine de recherche
</div>



{% endblock %}